body{
    background-color: #272640;
    color: white;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 100px 0 0 0;
}

header{
    max-width: 60%;
    margin: auto;
}

button{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #272640;
}

button:hover{
    cursor: pointer;
    background-color: #ADFEFF;
}

.btn{
    text-transform: uppercase;
}

.output{
    padding: 10px 0;
}

.activeOutput{
    border: 7px double white;
    margin: 10px auto;
    padding: 20px;
    max-width: 60%;
}

.optsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.optsDiv > * {
    margin: 0 10px;
    min-height: 60px;
    min-width: 60px;
}

.nextDiv{
    text-transform: uppercase;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.nextDiv > button{
    border: none;
}

.nextDiv > button:hover, 
.btn:hover{
    background-color: #C856C8;
    color: white;
    border: 1px solid white;
}

.playAgainBtn{
    margin-top: 20px;
    display: block;
    margin: 20px auto 10px auto;
}
@media all and (max-width: 920px ){
    .output {
        max-width: 80%;
    }
    header {
        max-width: 80%;
    }
}

@media all and (max-width: 550px) {
    .output {
        max-width: 90%;
    }
    header {
        max-width: 90%;
    }
    .activeOutput {
        margin: 10px 30px;
    }
    .optsDiv{
        flex-direction: column;
    }
    .optsDiv > button{
        margin: 10px 0;
        min-width: 90%;
    }
}